<div class="col-lg-12 col-md-12 col-xs-12">
    <div class="dashboard-list-box">
        <h4 class="gray"><i class="fa fa-list"></i> Liste <a class="button pull-right" routerLink='/role/create'><i
                class="fa fa-plus"></i> Ajouter </a></h4>
        <div class="table-box">
            <table class="basic-table booking-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Libellé</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of roles">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td></td>
                    <td class="btn-group">
                        <button (click)="show(item.slug)" class="btn btn-xs btn-info"><i class="icon-feather-eye"></i>
                        </button>&nbsp;
                        <button (click)="edit(item.slug)" class="btn btn-xs btn-warning"><i
                                class="icon-line-awesome-edit"></i></button>&nbsp;
                        <button (click)="delete(item.slug)" class="btn btn-xs btn-danger"><i
                                class="icon-feather-trash"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="pagination-container">
        <nav class="pagination">
            <ul>
                <li><a class="current-page" href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
            </ul>
        </nav>
    </div>
</div>
