<div class="row">
    <!-- Item -->
    <div class="col-lg-3 col-md-6 col-xs-6">
        <div class="dashboard-stat color-1">
            <div class="dashboard-stat-content"><h4>6</h4> <span>Taches</span></div>
            <div class="dashboard-stat-icon"><i class="im im-icon-Map2"></i></div>
            <div class="dashboard-stat-item"><p>Someone bookmarked your listing!</p></div>
        </div>
    </div>

    <!-- Item -->
    <div class="col-lg-3 col-md-6 col-xs-6">
        <div class="dashboard-stat color-2">
            <div class="dashboard-stat-content"><h4>726</h4> <span>Projets</span></div>
            <div class="dashboard-stat-icon"><i class="im im-icon-Line-Chart"></i></div>
            <div class="dashboard-stat-item"><p>Someone bookmarked your listing!</p></div>
        </div>
    </div>

    <!-- Item -->
    <div class="col-lg-3 col-md-6 col-xs-6">
        <div class="dashboard-stat color-1">
            <div class="dashboard-stat-content"><h4>6</h4> <span>Taches</span></div>
            <div class="dashboard-stat-icon"><i class="im im-icon-Map2"></i></div>
            <div class="dashboard-stat-item"><p>Someone bookmarked your listing!</p></div>
        </div>
    </div>

    <!-- Item -->
    <div class="col-lg-3 col-md-6 col-xs-6">
        <div class="dashboard-stat color-2">
            <div class="dashboard-stat-content"><h4>726</h4> <span>Projets</span></div>
            <div class="dashboard-stat-icon"><i class="im im-icon-Line-Chart"></i></div>
            <div class="dashboard-stat-item"><p>Someone bookmarked your listing!</p></div>
        </div>
    </div>


    <!-- Item -->
    <div class="col-lg-3 col-md-6 col-xs-6">
        <div class="dashboard-stat color-3">
            <div class="dashboard-stat-content"><h4>95</h4> <span>Remarques</span></div>
            <div class="dashboard-stat-icon"><i class="im im-icon-Add-UserStar"></i></div>
            <div class="dashboard-stat-item"><p>Someone bookmarked your listing!</p></div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-xs-6">
        <div class="dashboard-stat color-4">
            <div class="dashboard-stat-content"><h4>126</h4> <span>Notifications</span></div>
            <div class="dashboard-stat-icon"><i class="im im-icon-Heart"></i></div>
            <div class="dashboard-stat-item"><p>Someone bookmarked your listing!</p></div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-xs-6">
        <div class="dashboard-stat color-4">
            <div class="dashboard-stat-content"><h4>126</h4> <span>Calendriers</span></div>
            <div class="dashboard-stat-icon"><i class="im im-icon-Heart"></i></div>
            <div class="dashboard-stat-item"><p>Someone bookmarked your listing!</p></div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-xs-6">
        <div class="dashboard-stat color-3">
            <div class="dashboard-stat-content"><h4>95</h4> <span>Remarques</span></div>
            <div class="dashboard-stat-icon"><i class="im im-icon-Add-UserStar"></i></div>
            <div class="dashboard-stat-item"><p>Someone bookmarked your listing!</p></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 traffic">
        <div class="dashboard-list-box">

            <!-- Sort by -->
            <div class="sort-by">
                <div class="sort-by-select">
                    <select class="chosen-select-no-single" data-placeholder="Default order">
                        <option>En cours</option>
                        <option>Achvé</option>
                    </select>
                </div>
            </div>
            <div></div>
            <div></div>
            <!-- Sort by -->
            <div class="sort-by">
                <div class="sort-by-select">
                    <select class="chosen-select-no-single" data-placeholder="Default order">
                        <option>All Listings</option>
                        <option>Tom's Restaurant</option>
                        <option>Sticky Band</option>
                        <option>Hotel Govendor</option>
                        <option>Burger House</option>
                        <option>Airport</option>
                        <option>Think Coffee</option>
                    </select>
                </div>
            </div>
            <h4 class="gray">APERÇU PROJETS</h4>


            <div class="table-box">
                <table class="basic-table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Booking ID</th>
                        <th>Destination</th>
                        <th>No of Tickets</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>01/01/2017</td>
                        <td class="t-id">C001</td>
                        <td>Dubai</td>
                        <td>5</td>
                        <td>$300.00</td>
                    </tr>
                    <tr>
                        <td>01/01/2017</td>
                        <td class="t-id">C081</td>
                        <td>Grece - Zakynthos</td>
                        <td>5</td>
                        <td>$300.00</td>
                    </tr>
                    <tr>
                        <td>01/01/2017</td>
                        <td class="t-id">C001</td>
                        <td>Bulgary - Sunny Beach</td>
                        <td>5</td>
                        <td>$300.00</td>
                    </tr>
                    <tr>
                        <td>01/01/2017</td>
                        <td class="t-id">C001</td>
                        <td>France - Paris</td>
                        <td>5</td>
                        <td>$300.00</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12 ">
        <div class="dashboard-list-box">
            <h4 class="gray">SUIVI ENCAISSEMENTS</h4>
            <div class="table-box">
                <table class="basic-table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Booking ID</th>
                        <th>Destination</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>01/01/2017</td>
                        <td class="t-id">C001</td>
                        <td>Dubai</td>
                    </tr>

                    <tr>
                        <td>01/01/2017</td>
                        <td class="t-id">C001</td>
                        <td>Dubai</td>
                    </tr>

                    <tr>
                        <td>01/01/2017</td>
                        <td class="t-id">C001</td>
                        <td>Dubai</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-xs-12 ">
        <div class="dashboard-list-box">
            <h4 class="gray">SUIVI DECAISSEMENTS</h4>
            <div class="table-box">
                <table class="basic-table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Booking ID</th>
                        <th>Destination</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>01/01/2017</td>
                        <td class="t-id">C001</td>
                        <td>Dubai</td>
                    </tr>

                    <tr>
                        <td>01/01/2017</td>
                        <td class="t-id">C001</td>
                        <td>Dubai</td>
                    </tr>

                    <tr>
                        <td>01/01/2017</td>
                        <td class="t-id">C001</td>
                        <td>Dubai</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

