<div class="dashboard-box margin-top-0 ">
    <div class="headline">
       
     <div class="dashboard-headline">
            <h4 class="wither">
                <strong><i class="sl sl-icon-doc"></i> Caracteriques techniques </strong>
                <a class="button pull-right"
                   routerLink='/taches/list'><i
                        class="fa fa-list"></i> Liste </a></h4>

        </div>
    </div>
    <!-- Nav tabs -->
    <div>

        <!-- Tab panes -->
        <form (ngSubmit)="submit()" [formGroup]="fGroup" enctype="multipart/form-data">
            <div class="content with-padding padding-bottom-10">
                <div class="jumbotron">
                    


                    <div class="add-listing-section">

                        <!-- Headline -->
                        <div class="add-listing-headline">
                            <h3><i class="sl sl-icon-doc"></i> Objectifs du projet </h3>
                        </div>
    
                        <div class="row ">
    
    
                            <div class="col-xl-4">
                                <label>Libéllé <i class="text-danger glyphicon glyphicon-asterisk"></i></label>
                                <input class="search-field" formControlName="libelle" type="text">
                            </div>
    
                            <div class="col-xl-4">
                                <label>Indicateur <i class="text-danger glyphicon glyphicon-asterisk"></i></label>
                                <input class="search-field" formControlName="indicateur" type="text">
                            </div>
    
    
                            <div class="col-xl-4">
                                <label>Contenu <i class="text-danger glyphicon glyphicon-asterisk"></i></label>
                                <input class="search-field" formControlName="contenu" type="text">
    
                            </div>
    
                        
                            
                          
                        </div>
    
    
                            <button (click)="addObjectif(fGroup.value.libelle,fGroup.value.indicateur,fGroup.value.contenu)"
                            class="button"
                            type="button">Ajouter
                           </button>
                       
                        <br><br>
    
    
    
    
                        <div class="container table-box">
                        
                            <table class="basic-table booking-table">
                                <thead>
                                <tr>
                                    <th>Libellé</th>
                                    <th>Contenu</th>
                                    <th>Indicateur</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of objectifs">
                                    <td>{{ item.libelle }}</td>
                                    <td>{{ item.contenu }}</td>
                                    <td>{{ item.indicateur }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <br>
                        </div>           
                        <br>
                    </div>

                    <div>

                        <button class="button ripple-effect big margin-top-30" style="background: #139469;color: #fff"
                                type="submit">Enregistrer <i
                                class="fa fa-save"></i></button> &nbsp;


                        <button class="button ripple-effect big margin-top-30" style="background: #ff0000;color: #fff"
                        type="button" click="goBack()">Retour <i
                        class="fa fa-save"></i></button> 
                    </div>
                </div>


            </div>
        </form>


    </div>


</div>

