<div class="col-lg-12 col-md-12 col-xs-12">
    <div class="dashboard-list-box">
        <h4 class="gray"><i class="fa fa-list"></i> Liste <a class="button pull-right"
                                                             routerLink='/financements/create'><i
                class="fa fa-plus"></i> Ajouter </a></h4>
        <div class="table-box">
            <table class="basic-table booking-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Libelle</th>
                    <th>Projet</th>
                    <th>Type Financement</th>
                    <th>Partenaire</th>
                    <th>Montant</th>
                    <th>Date de d'accord</th>
                    <th>Encaisser</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of financements">
                    <td>{{ item.id }}</td>
                    <td>{{ item.libelle }}</td>
                    <td>{{ item.projet.nom }}</td>
                    <td>{{ item.typeFinancement.libelle }}</td>
                    <td>{{ item.partenaires[0].nom }}</td>
                    <td>{{ item.montantTotal }}</td>
                    <td>{{ parseDate(item.dateSignature) }}</td>
                    <td>
                        <button (click)="onEncaisser(item.slug, item.partenaires[0].slug)" class="button">Encaisser
                        </button>
                    </td>

                    <td>
                        <a (click)="getDetail(item.slug)" class="btn btn-info"><i class="fa fa-eye"></i></a>&nbsp;
                        <a (click)="onUpdate(item.slug)" class="btn btn-warning"><i class="sl sl-icon-pencil"></i></a>&nbsp;
                        <a (click)="onDelete(item)" class="btn btn-danger"><i class="sl sl-icon-trash"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="pagination-container">
        <nav class="pagination">
            <ul>

                <li *ngIf="last"><a (click)="previewPage()"><i class="sl sl-icon-arrow-left"></i></a></li>
                <li><a>{{ pageNumber + 1}}</a></li>
                <li *ngIf="numberOfElements < totalElements && !last"><a (click)="nextPage()">{{ pageNumber + 2}}</a>
                </li>
                <li *ngIf="!last"><a (click)="nextPage()"><i class="sl sl-icon-arrow-right"></i></a></li>
            </ul>
        </nav>
        <button class="button preview pull-left">{{numberOfElements}}/ {{totalElements}} Financements</button>
        <button class="button  pull-right">Imprimer</button>
    </div>
</div>
<router-outlet></router-outlet>
