<div class="dashboard-form">
    <div class="row">

        <!-- Profile -->
        <div class="col-lg-6 col-md-6 col-xs-12 padding-right-30">
            <div class="dashboard-list-box">
                <h4 class="gray">Mon profil </h4>
                <div class="dashboard-list-box-static">

                    <!-- Avatar -->
                    <div class="edit-profile-photo">
                        <img alt="" src="images/user-avatar.jpg">
                        <div class="change-photo-btn">
                            <div class="photoUpload">
                                <span><i class="fa fa-upload"></i> Changer la photo</span>
                                <input class="upload" type="file"/>
                            </div>
                        </div>
                    </div>

                    <!-- Details -->
                    <div class="my-profile">

                        <label>Nom et Prénom </label>
                        <input class="disabled" type="text" value="Tom Perrin">

                        <label>Téléphone </label>
                        <input type="text" value="(123) 123-456">

                        <label>Date d'embauche </label>
                        <input type="text" value="12/12/2019">

                        <label>Adresse mail </label>
                        <input type="text" value="tom@example.com">


                    </div>
                    <button class="button">Enregistrer les modifications</button>
                </div>
            </div>
        </div>

        <!-- Change Password -->
        <div class="col-lg-6 col-md-6 col-xs-12 padding-left-30">
            <div class="dashboard-list-box margin-top-0">
                <h4 class="gray">Mes adresses</h4>
                <div class="dashboard-list-box-static">

                    <!-- Change Password -->
                    <div class="my-profile">
                        <label class="margin-top-0">Direction</label>
                        <input type="text">

                        <label>Adresse</label>
                        <input type="text">

                        <label>Pays</label>
                        <input type="text">

                        <label>Ville</label>
                        <input type="text">

                        <label>Province</label>
                        <input type="text">
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

