<div id="footer">

    <!-- Footer Top Section -->
    <div class="footer-top-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">

                    <!-- Footer Rows Container -->
                    <div class="footer-rows-container">

                        <!-- Left Side -->
                        <div class="footer-rows-left">
                            <div class="footer-row">
                                <div class="footer-row-inner footer-logo">
                                    <img alt="" src="images/logo2.png">
                                </div>
                            </div>
                        </div>

                        <!-- Right Side -->
                        <div class="footer-rows-right">

                            <!-- Social Icons -->
                            <div class="footer-row">
                                <div class="footer-row-inner">
                                    <ul class="footer-social-links">
                                        <li>
                                            <a data-original-title="Facebook" data-tippy="" data-tippy-placement="bottom"
                                               data-tippy-theme="light" href="#">
                                                <i class="icon-brand-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-original-title="Twitter" data-tippy="" data-tippy-placement="bottom"
                                               data-tippy-theme="light" href="#">
                                                <i class="icon-brand-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-original-title="Google Plus" data-tippy="" data-tippy-placement="bottom"
                                               data-tippy-theme="light" href="#">
                                                <i class="icon-brand-google-plus-g"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-original-title="LinkedIn" data-tippy="" data-tippy-placement="bottom"
                                               data-tippy-theme="light" href="#">
                                                <i class="icon-brand-linkedin-in"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <!-- Language Switcher -->
                            <div class="footer-row">
                                <div class="footer-row-inner">
                                    <div class="btn-group bootstrap-select language-switcher">
                                        <button class="btn dropdown-toggle btn-default" data-toggle="dropdown"
                                                role="button" title="English" type="button"><span
                                                class="filter-option pull-left">English</span>&nbsp;<span
                                                class="bs-caret"><span class="caret"></span></span></button>
                                        <div class="dropdown-menu open" role="combobox">
                                            <ul aria-expanded="false" class="dropdown-menu inner" role="listbox">
                                                <li class="selected" data-original-index="0"><a aria-disabled="false" aria-selected="true"
                                                                                                class=""
                                                                                                data-tokens="null"
                                                                                                role="option"
                                                                                                tabindex="0"><span
                                                        class="text">English</span><span
                                                        class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                <li data-original-index="1"><a aria-disabled="false" aria-selected="false" class=""
                                                                               data-tokens="null" role="option"
                                                                               tabindex="0"><span class="text">Français</span><span
                                                        class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                <li data-original-index="2"><a aria-disabled="false" aria-selected="false" class=""
                                                                               data-tokens="null" role="option"
                                                                               tabindex="0"><span class="text">Español</span><span
                                                        class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                <li data-original-index="3"><a aria-disabled="false" aria-selected="false" class=""
                                                                               data-tokens="null" role="option"
                                                                               tabindex="0"><span class="text">Deutsch</span><span
                                                        class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            </ul>
                                        </div>
                                        <select class="selectpicker language-switcher" data-selected-text-format="count"
                                                data-size="5" tabindex="-98">
                                            <option selected="">English</option>
                                            <option>Français</option>
                                            <option>Español</option>
                                            <option>Deutsch</option>
                                        </select></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Footer Rows Container / End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Top Section / End -->

    <!-- Footer Middle Section -->
    <div class="footer-middle-section">
        <div class="container">
            <div class="row">

                <!-- Links -->
                <div class="col-xl-2 col-lg-2 col-md-3">
                    <div class="footer-links">
                        <h3>For Candidates</h3>
                        <ul>
                            <li><a href="#"><span>Browse Jobs</span></a></li>
                            <li><a href="#"><span>Add Resume</span></a></li>
                            <li><a href="#"><span>Job Alerts</span></a></li>
                            <li><a href="#"><span>My Bookmarks</span></a></li>
                        </ul>
                    </div>
                </div>

                <!-- Links -->
                <div class="col-xl-2 col-lg-2 col-md-3">
                    <div class="footer-links">
                        <h3>For Employers</h3>
                        <ul>
                            <li><a href="#"><span>Browse Candidates</span></a></li>
                            <li><a href="#"><span>Post a Job</span></a></li>
                            <li><a href="#"><span>Post a Task</span></a></li>
                            <li><a href="#"><span>Plans &amp; Pricing</span></a></li>
                        </ul>
                    </div>
                </div>

                <!-- Links -->
                <div class="col-xl-2 col-lg-2 col-md-3">
                    <div class="footer-links">
                        <h3>Helpful Links</h3>
                        <ul>
                            <li><a href="#"><span>Contact</span></a></li>
                            <li><a href="#"><span>Privacy Policy</span></a></li>
                            <li><a href="#"><span>Terms of Use</span></a></li>
                        </ul>
                    </div>
                </div>

                <!-- Links -->
                <div class="col-xl-2 col-lg-2 col-md-3">
                    <div class="footer-links">
                        <h3>Account</h3>
                        <ul>
                            <li><a href="#"><span>Log In</span></a></li>
                            <li><a href="#"><span>My Account</span></a></li>
                        </ul>
                    </div>
                </div>

                <!-- Newsletter -->
                <div class="col-xl-4 col-lg-4 col-md-12">
                    <h3><i class="icon-feather-mail"></i> Sign Up For a Newsletter</h3>
                    <p>Weekly breaking news, analysis and cutting edge advices on job searching.</p>
                    <form action="#" class="newsletter" method="get">
                        <input name="fname" placeholder="Enter your email address" type="text">
                        <button type="submit"><i class="icon-feather-arrow-right"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Middle Section / End -->

    <!-- Footer Copyrights -->
    <div class="footer-bottom-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    © 2018 <strong>Hireo</strong>. All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Copyrights / End -->

</div>
