.dashboard-sidebar{
    background-color: #3a75c4;color:#fff;

}

.dashboard-nav ul li a {
    background-color: #fff;color:#3a75c4;
    text-transform: uppercase;
}


.dashboard-nav li a:hover {
    background-color: #fff;color:#3a75c4;
    text-transform: uppercase;
}

