<div class="col-lg-12 col-md-12 col-xs-12">


    <div>
        <div class="dashboard-list-box">
            <div class="headline">
                <h2> Objectifs  <a class="button pull-right"
                                                                         routerLink='/projets/{{slug}}'><i
                        class="fa fa-list"></i> << Retour </a></h2>
            </div>

            <br>

            <div class="jumbotron">
                <table class="col-md-12">
                    <tbody>
    
                        <tr>
                            <td>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <p>Nom du Projet : </p>
                                        </div>
        
                                        <div class="col-md-4">
                                            <strong>{{ projet.nom }}</strong>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
        
        
                        <tr>
                            <td>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <p>Numero du Projet : </p>
                                        </div>
        
                                        <div class="col-md-4">
                                            <strong>{{ projet.numeroProjet }}</strong>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
        
        
                        <tr>
                            <td>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <p>Responsable du projet : </p>
                                        </div>
        
                                        <div class="col-md-4">
                                            <strong>{{projet.budgetPrevisionel}}</strong>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
        
    
    
    
    
                    <br><br>
    
                  
    
                
                    <br>
    
                    </tbody>
                </table>
                <div>
    
                </div>
            </div>



            <div class="container table-box">
                <div class="headline"><i class="fa fa-list"></i> <strong class="text-success"> Caracteristiques Techniques
                    :</strong>
                    <button (click)='addObj()' class="button pull-right"><i class="fa fa-plus"></i> Ajouter
                    </button>
                </div>
                <table class="basic-table booking-table">
                    <thead>
                    <tr>
                        <th>Libellé</th>
                        <th>Indicateur</th>
                        <th>Contenu</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of projet.objectifs">
                        <td>{{ item.libelle }}</td>
                        <td>{{ item.indicateur }}</td>
                        <td>{{ item.contenu }}</td>

                        <td class="btn-group">
                            <button (click)="show(item.slug)" class="btn btn-xs btn-info"><i
                                    class="icon-feather-eye"></i></button>&nbsp;
                            <button (click)="delete(item.slug)" class="btn btn-xs btn-danger"><i
                                    class="icon-feather-trash"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
              <br>
              <br>
              <br>
            </div>
        </div>
    </div>
    
</div>
<router-outlet></router-outlet>
