<div class="col-lg-12 col-md-12 col-xs-12">
    <div class="dashboard-list-box">
        <div class="headline"><i class="fa fa-list"></i> Liste <a class="button pull-right"
                                                                  routerLink='/employe/create'><i
                class="fa fa-plus"></i> Ajouter </a></div>
        <div class="table-responsive">
            <table class="basic-table booking-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Matricule</th>
                    <th>Date de Naissance</th>
                    <th>Date d'embauche</th>
                    <th>Salaire</th>
                    <th>Direction</th>
                    <th>Date d'enregistrement</th>

                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of employe">
                    <td>{{ item.id }}</td>
                    <td>{{ item.nom }}</td>
                    <td>{{ item.prenom }}</td>
                    <td style="width: 16.66%">{{ item.matricule }}</td>
                    <td>{{ item.dateNaissance  }}</td>
                    <td>{{ item.dateEmbauche }} </td>
                    <td>{{ item.salaire }}</td>
                    <td style="width: 15.55%">{{ item.direction.libelle }}</td>
                    <td>{{ item.createdAt  }} </td>
                    <td class="btn-group">
                        <button (click)="show(item.slug)" class="btn btn-xs btn-info"><i class="icon-feather-eye"></i>
                        </button>&nbsp;
                        <button (click)="edit(item.slug)" class="btn btn-xs btn-warning"><i
                                class="icon-line-awesome-edit"></i></button>&nbsp;
                        <button (click)="delete(item.slug)" class="btn btn-xs btn-danger"><i
                                class="icon-feather-trash"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="pagination-container">
        <nav class="pagination">
            <ul>

                <li *ngIf="last"><a (click)="previewPage()"><i class="sl sl-icon-arrow-left"></i></a></li>
                <li><a>{{ pageNumber + 1}}</a></li>
                <li *ngIf="numberOfElements < totalElements && !last"><a (click)="nextPage()">{{ pageNumber + 2}}</a>
                </li>
                <li *ngIf="!last"><a (click)="nextPage()"><i class="sl sl-icon-arrow-right"></i></a></li>
            </ul>
        </nav>
        <button class="button preview pull-left">{{numberOfElements}}/ {{totalElements}} Financements</button>
        <button class="button  pull-right">Imprimer</button>
    </div>
</div>
<router-outlet></router-outlet>



