<div class="col-lg-12 col-md-12 col-xs-12">
    <div class="dashboard-list-box">
        <div class="headline"><i class="fa fa-list"></i> Liste <a class="button pull-right" routerLink='//create'><i
                class="fa fa-plus"></i> Ajouter </a></div>
        <div class="table-box">
            <table class="basic-table booking-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Libéllé</th>
                    <th>Date de Creation</th>
                    <th>Date de debut</th>
                    <th>Date de fin</th>
                    <th>Priorité</th>
                    <th>Crée Par</th>
                    <th>Projet</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    </div>
    <div class="pagination-container">
        <nav class="pagination">
            <ul>

                <li *ngIf="last"><a (click)="previewPage()"><i class="sl sl-icon-arrow-left"></i></a></li>
                <li><a>{{ pageNumber + 1}}</a></li>
                <li *ngIf="numberOfElements < totalElements && !last"><a (click)="nextPage()">{{ pageNumber + 2}}</a>
                </li>
                <li *ngIf="!last"><a (click)="nextPage()"><i class="sl sl-icon-arrow-right"></i></a></li>
            </ul>
        </nav>
        <button class="button preview pull-left">{{numberOfElements}}/ {{totalElements}} Financements</button>
        <button class="button  pull-right">Imprimer</button>
    </div>
</div>
<router-outlet></router-outlet>

