<div class="dashboard-form">
    <div class="row">

        <!-- Profile -->
        <div class="col-lg-6 col-md-6 col-xs-12 padding-right-30">
            <div class="dashboard-list-box">
                <h4 class="gray">Mon profil <a class="button pull-right success" routerLink='/mon-profile/update'><i
                        class="fa fa-edit"></i> Modifier </a></h4>
                <div class="dashboard-list-box-static">

                    <!-- Avatar -->
                    <div class="edit-profile-photo">
                        <img alt="" src="images/user-avatar.jpg">
                    </div>

                    <!-- Details -->
                    <div class="my-profile">

                        <label>Nom et Prénom :</label>
                        <h3>Tom Perrin</h3>

                        <label>Téléphone </label>
                        <h3>(123) 123-456</h3>

                        <label>Date d'embauche :</label>
                        <h3>12/12/2019</h3>

                        <label>Adresse mail :</label>
                        <h3>tom@example.com</h3>

                        <label class="twitter-input"><i class="fa fa-twitter"></i> </label>
                        <label class="fb-input"><i class="fa fa-facebook-square"></i> </label>

                    </div>

                </div>
            </div>
        </div>

        <!-- Change Password -->
        <div class="col-lg-6 col-md-6 col-xs-12 padding-left-30">
            <div class="dashboard-list-box margin-top-0">
                <h4 class="gray">Mes adresses</h4>
                <div class="dashboard-list-box-static">

                    <!-- Change Password -->
                    <div class="my-profile">
                        <label class="margin-top-0">Direction : </label>
                        <h3>DGD</h3>

                        <label>Adresse : </label>
                        <h3>Adresse</h3>

                        <label>Pays : </label>
                        <h3>Pays</h3>

                        <label>Ville :</label>
                        <h3>Ville</h3>

                        <label>Province :</label>
                        <h3>Province</h3>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
