<div class="row">

    <!-- Dashboard Box -->
    <div class="col-xl-12">
        <div class="dashboard-box margin-top-0">

            <!-- Headline -->
            <div class="headline">
                <h3><i class="icon-feather-folder-plus"></i> Job Submission Form</h3>
            </div>

            <div class="content with-padding padding-bottom-10">
                <div class="row">

                    <div class="col-xl-4">
                        <div class="submit-field">
                            <h5>Job Title</h5>
                            <input class="with-border" type="text">
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="submit-field">
                            <h5>Job Type</h5>
                            <div class="btn-group bootstrap-select with-border">
                                <button aria-expanded="false" class="btn dropdown-toggle bs-placeholder btn-default"
                                        data-toggle="dropdown" role="button" title="Select Job Type"
                                        type="button"><span
                                        class="filter-option pull-left">Select Job Type</span>&nbsp;<span
                                        class="bs-caret"><span class="caret"></span></span></button>
                                <div class="dropdown-menu open" role="combobox">
                                    <ul aria-expanded="false" class="dropdown-menu inner" role="listbox">
                                        <li data-original-index="1"><a aria-disabled="false" aria-selected="false" class=""
                                                                       data-tokens="null" role="option"
                                                                       tabindex="0"><span class="text">Full Time</span><span
                                                class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                        <li data-original-index="2"><a aria-disabled="false" aria-selected="false" class=""
                                                                       data-tokens="null" role="option"
                                                                       tabindex="0"><span class="text">Freelance</span><span
                                                class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                        <li data-original-index="3"><a aria-disabled="false" aria-selected="false" class=""
                                                                       data-tokens="null" role="option"
                                                                       tabindex="0"><span class="text">Part Time</span><span
                                                class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                        <li data-original-index="4"><a aria-disabled="false" aria-selected="false" class=""
                                                                       data-tokens="null" role="option"
                                                                       tabindex="0"><span class="text">Internship</span><span
                                                class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                        <li data-original-index="5"><a aria-disabled="false" aria-selected="false" class=""
                                                                       data-tokens="null" role="option"
                                                                       tabindex="0"><span class="text">Temporary</span><span
                                                class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                    </ul>
                                </div>
                                <select class="selectpicker with-border" data-size="7" tabindex="-98"
                                        title="Select Job Type">
                                    <option class="bs-title-option" value="">Select Job Type</option>
                                    <option>Full Time</option>
                                    <option>Freelance</option>
                                    <option>Part Time</option>
                                    <option>Internship</option>
                                    <option>Temporary</option>
                                </select></div>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="submit-field">
                            <h5>Job Category</h5>
                            <div class="btn-group bootstrap-select with-border">
                                <button aria-expanded="false" class="btn dropdown-toggle bs-placeholder btn-default"
                                        data-toggle="dropdown" role="button" title="Select Category"
                                        type="button"><span
                                        class="filter-option pull-left">Select Category</span>&nbsp;<span
                                        class="bs-caret"><span class="caret"></span></span></button>
                                <div class="dropdown-menu open" role="combobox"
                                     style="max-height: 267px; overflow: hidden;">
                                    <ul aria-expanded="false" class="dropdown-menu inner" role="listbox"
                                        style="max-height: 245px; overflow-y: auto;">
                                        <li data-original-index="1"><a aria-disabled="false" aria-selected="false" class=""
                                                                       data-tokens="null" role="option"
                                                                       tabindex="0"><span class="text">Accounting and Finance</span><span
                                                class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                        <li data-original-index="2"><a aria-disabled="false" aria-selected="false" class=""
                                                                       data-tokens="null" role="option"
                                                                       tabindex="0"><span class="text">Clerical &amp; Data Entry</span><span
                                                class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                        <li data-original-index="3"><a aria-disabled="false" aria-selected="false" class=""
                                                                       data-tokens="null" role="option"
                                                                       tabindex="0"><span class="text">Counseling</span><span
                                                class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                        <li data-original-index="4"><a aria-disabled="false" aria-selected="false" class=""
                                                                       data-tokens="null" role="option"
                                                                       tabindex="0"><span class="text">Court Administration</span><span
                                                class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                        <li data-original-index="5"><a aria-disabled="false" aria-selected="false" class=""
                                                                       data-tokens="null" role="option"
                                                                       tabindex="0"><span class="text">Human Resources</span><span
                                                class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                        <li data-original-index="6"><a aria-disabled="false" aria-selected="false" class=""
                                                                       data-tokens="null" role="option"
                                                                       tabindex="0"><span class="text">Investigative</span><span
                                                class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                        <li data-original-index="7"><a aria-disabled="false" aria-selected="false" class=""
                                                                       data-tokens="null" role="option"
                                                                       tabindex="0"><span class="text">IT and Computers</span><span
                                                class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                        <li data-original-index="8"><a aria-disabled="false" aria-selected="false" class=""
                                                                       data-tokens="null" role="option"
                                                                       tabindex="0"><span class="text">Law Enforcement</span><span
                                                class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                        <li data-original-index="9"><a aria-disabled="false" aria-selected="false" class=""
                                                                       data-tokens="null" role="option"
                                                                       tabindex="0"><span class="text">Management</span><span
                                                class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                        <li data-original-index="10"><a aria-disabled="false" aria-selected="false" class=""
                                                                        data-tokens="null" role="option"
                                                                        tabindex="0"><span class="text">Miscellaneous</span><span
                                                class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                        <li data-original-index="11"><a aria-disabled="false" aria-selected="false" class=""
                                                                        data-tokens="null" role="option"
                                                                        tabindex="0"><span class="text">Public Relations</span><span
                                                class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                    </ul>
                                </div>
                                <select class="selectpicker with-border" data-size="7" tabindex="-98"
                                        title="Select Category">
                                    <option class="bs-title-option" value="">Select Category</option>
                                    <option>Accounting and Finance</option>
                                    <option>Clerical &amp; Data Entry</option>
                                    <option>Counseling</option>
                                    <option>Court Administration</option>
                                    <option>Human Resources</option>
                                    <option>Investigative</option>
                                    <option>IT and Computers</option>
                                    <option>Law Enforcement</option>
                                    <option>Management</option>
                                    <option>Miscellaneous</option>
                                    <option>Public Relations</option>
                                </select></div>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="submit-field">
                            <h5>Location</h5>
                            <div class="input-with-icon">
                                <div id="autocomplete-container">
                                    <input class="with-border" id="autocomplete-input" placeholder="Type Address"
                                           type="text">
                                </div>
                                <i class="icon-material-outline-location-on"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="submit-field">
                            <h5>Salary</h5>
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="input-with-icon">
                                        <input class="with-border" placeholder="Min" type="text">
                                        <i class="currency">USD</i>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="input-with-icon">
                                        <input class="with-border" placeholder="Max" type="text">
                                        <i class="currency">USD</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="submit-field">
                            <h5>Tags <span>(optional)</span> <i class="help-icon" data-original-title="Maximum of 10 tags"
                                                                data-tippy=""
                                                                data-tippy-placement="right"></i></h5>
                            <div class="keywords-container">
                                <div class="keyword-input-container">
                                    <input class="keyword-input with-border" placeholder="e.g. job title, responsibilites"
                                           type="text">
                                    <button class="keyword-input-button ripple-effect"><i
                                            class="icon-material-outline-add"></i></button>
                                </div>
                                <div class="keywords-list" style="height: auto;"><!-- keywords go here --></div>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>

                    <div class="col-xl-12">
                        <div class="submit-field">
                            <h5>Job Description</h5>
                            <textarea class="with-border" cols="30" rows="5"></textarea>
                            <div class="uploadButton margin-top-30">
                                <input accept="image/*, application/pdf" class="uploadButton-input" id="upload"
                                       multiple="" type="file">
                                <label class="uploadButton-button ripple-effect" for="upload">Upload Files</label>
                                <span class="uploadButton-file-name">Images or documents that might be helpful in describing your job</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <a class="button ripple-effect big margin-top-30" href="#"><i class="icon-feather-plus"></i> Post a Job</a>
    </div>

</div>

<router-outlet></router-outlet>
