<div class="content with-padding padding-bottom-10">

    <!-- Section -->
    <div class="add-listing-section">

        <!-- Headline -->
        <div class="add-listing-headline">
            <h4 class="wither"><i class="sl sl-icon-doc"></i> Enregistrement <a class="button pull-right"
                                                                                routerLink='/role/list'><i
                    class="fa fa-list"></i> List </a></h4>

        </div>

        <!-- Title -->
        <div class="row with-forms">
            <div class="col-md-12">
                <label>Libellé <strong class="text-danger">(*)</strong> </label>
                <input class="search-field" type="text" value="">
            </div>
        </div>

        <div class="row with-forms">
            <div class="col-md-12">
                <label>Description</label>
                <textarea class="WYSIWYG" cols="40" id="summary" name="summary" rows="3" spellcheck="true"></textarea>
            </div>
        </div>
        <!-- Row / End -->
    </div>
    <!-- Section / End -->


    <a class="button preview" href="#">Preview <i class="fa fa-arrow-circle-right"></i></a>
</div>
