<nav id="navigation">
    <ul id="responsive">


        <li><a href="#">Paneau d'administation</a>
            <ul class="dropdown-nav">
                <li><a href="#">Gestion des Projets</a>
                    <ul class="dropdown-nav">
                        <li><a routerLink='/taches/list' routerLinkActive='active'>Taches </a></li>
                        <li><a routerLink='/groupe-travail/list' routerLinkActive='active'>Groupe de Travail </a></li>
                        <li><a routerLink='/soumissionaires/list' routerLinkActive='active'>Soumissionaires </a></li>
                        <li><a routerLink='/maitre-oeuvrages/list' routerLinkActive='active'>Maitres d'oeuvrages </a>
                        </li>
                        <li><a routerLink='/maitre-doeuvre-delegues/list' routerLinkActive='active'>Maitre d'oeuvre délégué </a></li>

                        <li><a routerLink='/etapes/list' routerLinkActive='active'>Etapes </a></li>
                        <li><a routerLink='/type-partenaire/list' routerLinkActive='active'>Type de Partenaire </a></li>
                        <li><a routerLink='/partenaire/list' routerLinkActive='active'>Liste des Partenaires </a></li>
                        <li><a routerLink='/type-financements/list' routerLinkActive='active'>Type de Financement </a>
                        </li>
                        <li><a routerLink='/financements/list' routerLinkActive='active'>Financements </a></li>
                        <li><a routerLink='/decaissements/list' routerLinkActive='active'>Décaissements </a></li>
                        <li><a routerLink='/projets/list' routerLinkActive='active'>Projets </a></li>
                        <li><a routerLink='/secteur/list' routerLinkActive='active'>Secteurs</a></li>
                        <li><a routerLink='/sous-secteur/list' routerLinkActive='active'>Sous-Secteur</a></li>
                        <li><a routerLink='/type-marches/list' routerLinkActive='active'>Type Marché </a></li>

                    </ul>
                </li>

                <li><a href="#">Utilisateurs</a>
                    <ul class="dropdown-nav">
                        <li><a routerLink='/employe/list' routerLinkActive='active'>Employés</a></li>
                        <li><a routerLink='/user/list' routerLinkActive='active'>Utilisateurs </a></li>
                        <li><a routerLink='/role/list' routerLinkActive='active'>Roles </a></li>
                        <li><a routerLink='/permissions/list' routerLinkActive='active'>Permissions & Privillèges </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Tiers</a>
                    <ul class="dropdown-nav">
                        <li><a routerLink='/institutions/list' routerLinkActive='active'>Institution </a></li>
                        <li><a routerLink='/direction/list' routerLinkActive='active'>Direction </a></li>
                        <li><a routerLink='/entreprises/list' routerLinkActive='active'>Entreprises </a></li>
                        <li><a routerLink='/regions/list' routerLinkActive='active'>Regions </a></li>
                        <li><a routerLink='/controlleurs/list' routerLinkActive='active'>Controlleurs </a></li>

                    </ul>
                </li>
            </ul>
        </li>


    </ul>
</nav>
